/* You can add global styles to this file, and also import other style files */

/* ==========================================================================
   Library Dependencies
   ==========================================================================
   These imports include external styles used across the application.
*/
@use 'govuk-frontend/dist/govuk/index' as *;
@use '@ministryofjustice/frontend/moj/all' as moj;
@use './custom/_custom-section_break.scss';
@use './custom/custom-scrollable-panes';

/* Keep @import until home-office-kit migrates to Sass modules. */
@import 'accessible-autocomplete/dist/accessible-autocomplete.min.css';
@import 'home-office-kit/sass/_loadingSpinner.scss';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'GDS Transport', arial, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the page container takes the full height of the viewport */
}

.content-wrapper {
  flex: 1; /* This makes the main content area grow to take up the available space */
}

.govuk-width-container {
  height: 100%;
}

.govuk-width-container,
.moj-header__container {
  @include govuk-width-container(1028px);
}

.govuk-main-wrapper {
  padding-bottom: 1rem; /* Add some padding to the bottom if necessary */
}

opal-lib-govuk-footer {
  margin-top: auto; /* Push the footer to the bottom of the page */
}

.border-top {
  &__none {
    border-top: none !important;
  }
}

.govuk-colour {
  &__error {
    color: govuk-colour('red') !important;
  }
}

.govuk-error-colour {
  color: $govuk-error-colour;
}

.govuk-link-colour {
  color: $govuk-link-colour;
}

.govuk-blue-background-white-text {
  background-color: govuk-colour('blue');
  color: govuk-colour('white');
}

.govuk-white-background {
  background-color: govuk-colour('white');
}

.govuk-light-grey-background-colour {
  background-color: govuk-colour('black', $variant: 'tint-95');
}

.govuk-lighter-blue-background-colour {
  background-color: govuk-tint(govuk-colour('blue', $variant: 'tint-25'), 50);
}

.govuk-blue-background-colour {
  background-color: govuk-colour('blue');
}

.govuk-blue-text-colour {
  color: govuk-colour('blue');
}

.govuk-dark-blue-text-colour {
  color: govuk-colour('blue', $variant: 'shade-50');
}

.govuk-dark-grey-text-colour {
  color: govuk-colour('black', $variant: 'tint-25');
}

.govuk-white-text-colour {
  color: govuk-colour('white');
}
