:host {
  display: flex;
  flex-direction: column;
}

.custom-section-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  align-self: stretch;
  margin: 0;
}

.custom-section-header-divider {
  height: 4px;
  margin: 0;
}
