<div class="govuk-form-group" [class.govuk-form-group--error]="!!errors">
  <fieldset class="govuk-fieldset" [id]="fieldSetId" [attr.aria-describedby]="describedBy">
    <legend class="govuk-fieldset__legend {{ legendClasses }}">
      {{ legendText }}
    </legend>

    @if (legendHint) {
      <div [id]="fieldSetId ? fieldSetId + '-hint' : ''" class="govuk-hint">
        {{ legendHint }}
      </div>
    }

    @if (errors) {
      <p id="{{ this.fieldSetId }}-error-message" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error: </span> {{ errors }}
      </p>
    }

    <div class="govuk-checkboxes {{ checkboxClasses }}" data-module="govuk-checkboxes">
      <ng-content></ng-content>
    </div>
  </fieldset>
</div>
