@import '../../../../../../node_modules/govuk-frontend/dist/govuk/helpers/colour';
:host {
  padding: 15px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.custom-summary-metric-bar-item-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

::ng-deep .light-grey-item {
  background-color: govuk-colour(light-grey);
  .govuk-body {
    color: govuk-colour(dark-grey);
  }
}

::ng-deep .light-blue-item {
  background-color: govuk-tint(govuk-colour(light-blue), 50);
  .govuk-body {
    color: govuk-colour(dark-blue);
  }
}

::ng-deep .blue-item {
  background-color: govuk-colour(blue);
  .govuk-body {
    color: govuk-colour(white);
  }
}
