.custom-summary-metric-bar-item-wrapper {
  padding: 15px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.custom-summary-metric-bar-item-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.colour-grey {
  background: var(--Tag-Grey-Background, #eeefef);
}

.colour-light-blue {
  background: var(--Tag-Light-Blue-Background, #d2e2f1);
  color: var(--Tag-Blue-Text, #144e81);
}

.colour-blue {
  background: var(--Tag-Blue-Background, #1d70b8);
  color: var(--Background, #fff);
}
