<div class="govuk-accordion" data-module="govuk-accordion" [id]="accordionId">
  @for (section of sections; track section; let index = $index) {
    <div class="govuk-accordion__section" [class.govuk-accordion__section--expanded]="isExpanded(index)">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <button
            type="button"
            class="govuk-accordion__section-button"
            [id]="getHeadingId(index)"
            [attr.aria-controls]="getContentId(index)"
            [attr.aria-expanded]="isExpanded(index)"
            (click)="toggleSectionByIndex(index)"
          >
            {{ section.heading }}
          </button>
        </h2>
      </div>
      <div
        [id]="getContentId(index)"
        class="govuk-accordion__section-content"
        [attr.aria-labelledby]="getHeadingId(index)"
        [hidden]="!isExpanded(index)"
      >
        @if (section.content) {
          @if (isTemplateRef(section.content)) {
            <ng-container [ngTemplateOutlet]="section.content"></ng-container>
          } @else {
            <p class="govuk-body">{{ section.content }}</p>
          }
        }
      </div>
    </div>
  }
</div>
