<opal-lib-custom-horizontal-scroll-pane>
  <opal-lib-moj-sortable-table tableClasses="govuk-!-margin-bottom-3">
    <ng-container caption>
      <span class="govuk-visually-hidden">{{ caption }}</span>
    </ng-container>
    <ng-container head>
      <th
        opal-lib-moj-sortable-table-header
        [columnKey]="tableColumns.dateAndTime"
        [sortDirection]="sortStateSignal()[tableColumns.dateAndTime]"
        (sortChange)="onSortChange($event)"
        [dataIndex]="0"
      >
        {{ tableColumns.dateAndTime }}
      </th>
      <th
        opal-lib-moj-sortable-table-header
        [columnKey]="tableColumns.title"
        [sortDirection]="sortStateSignal()[tableColumns.title]"
        (sortChange)="onSortChange($event)"
        [dataIndex]="1"
      >
        {{ tableColumns.title }}
      </th>
      <th
        opal-lib-moj-sortable-table-header
        [columnKey]="tableColumns.businessUnit"
        [sortDirection]="sortStateSignal()[tableColumns.businessUnit]"
        (sortChange)="onSortChange($event)"
        [dataIndex]="2"
      >
        {{ tableColumns.businessUnit }}
      </th>
      <th
        opal-lib-moj-sortable-table-header
        [columnKey]="tableColumns.createdBy"
        [sortDirection]="sortStateSignal()[tableColumns.createdBy]"
        (sortChange)="onSortChange($event)"
        [dataIndex]="3"
      >
        {{ tableColumns.createdBy }}
      </th>
      <th
        opal-lib-moj-sortable-table-header
        [columnKey]="tableColumns.status"
        [sortDirection]="sortStateSignal()[tableColumns.status]"
        (sortChange)="onSortChange($event)"
        [dataIndex]="4"
      >
        {{ tableColumns.status }}
      </th>
      <th scope="col" class="govuk-table__header">Action</th>
    </ng-container>
    <ng-container row>
      @for (row of paginatedTableDataComputed(); track row.instanceId; let rowIndex = $index) {
        <tr opal-lib-moj-sortable-table-row>
          <td opal-lib-moj-sortable-table-row-data id="reportInstanceDateTime-{{ rowIndex }}">
            <a href="" class="govuk-link govuk-link--no-visited-state" (click)="onInstanceSelected($event, row)">{{
              row.dateTimeDisplay
            }}</a>
          </td>
          <td opal-lib-moj-sortable-table-row-data id="reportInstanceTitle-{{ rowIndex }}">
            {{ row[tableColumns.title] }}
          </td>
          <td opal-lib-moj-sortable-table-row-data id="reportInstanceBusinessUnit-{{ rowIndex }}">
            {{ row[tableColumns.businessUnit] }}
          </td>
          <td opal-lib-moj-sortable-table-row-data id="reportInstanceCreatedBy-{{ rowIndex }}">
            {{ row[tableColumns.createdBy] }}
          </td>
          <td opal-lib-moj-sortable-table-row-data id="reportInstanceStatus-{{ rowIndex }}">
            {{ row[tableColumns.status] }}
          </td>
          <td opal-lib-moj-sortable-table-row-data id="reportInstanceAction-{{ rowIndex }}">
            @if (row.isActionable && row.actionLabels) {
              @for (actionLabel of row.actionLabels.split(','); track actionLabel) {
                <a
                  href=""
                  class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-2"
                  (click)="onActionSelected($event, row, actionLabel)"
                  >{{ actionLabel }}</a
                >
              }
            }
          </td>
        </tr>
      }
    </ng-container>
    <ng-container status>
      <opal-lib-moj-sortable-table-status
        [columnTitle]="sortedColumnTitleSignal()"
        [sortDirection]="sortedColumnDirectionSignal()"
      ></opal-lib-moj-sortable-table-status>
    </ng-container>
  </opal-lib-moj-sortable-table>
</opal-lib-custom-horizontal-scroll-pane>

@if (sortedTableDataSignal().length > itemsPerPageSignal()) {
  <opal-lib-moj-pagination
    [id]="paginationId"
    [currentPage]="currentPageSignal()"
    [total]="sortedTableDataSignal().length"
    [limit]="itemsPerPageSignal()"
    (changePage)="onPageChange($event)"
  ></opal-lib-moj-pagination>
}
