<div class="govuk-form-group" [class.govuk-form-group--error]="!!errors">
  <div class="govuk-label-wrapper">
    <label class="govuk-label {{ labelClasses }}" [for]="inputId">
      {{ labelText }}
    </label>
  </div>
  @if (hintText || hintHtml) {
    <div id="{{ inputId }}-hint" class="govuk-hint">
      @if (hintHtml) {
        <ng-content></ng-content>
      } @else {
        {{ hintText }}
      }
    </div>
  }

  @if (errors) {
    <p id="{{ this.inputId }}-error-message" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error: </span> {{ errors }}
    </p>
  }

  <input
    class="govuk-input {{ inputClasses }}"
    [id]="inputId"
    [name]="inputName"
    type="text"
    [formControl]="getControl"
    [attr.aria-describedby]="describedBy"
  />
</div>
