<div class="govuk-form-group govuk-character-count" [class.govuk-form-group--error]="!!errors">
  <div class="govuk-label-wrapper">
    <label class="govuk-label {{ labelClasses }}" [for]="inputId">
      {{ labelText }}
    </label>
  </div>
  @if (hintText) {
    <div id="{{ inputId }}-hint" class="govuk-hint">
      {{ hintText }}
    </div>
  }

  @if (errors) {
    <p id="{{ this.inputId }}-error-message" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error: </span> {{ errors }}
    </p>
  }

  <textarea
    class="govuk-textarea {{ inputClasses }}"
    [id]="inputId"
    [name]="inputName"
    type="text"
    [rows]="rows"
    [formControl]="getControl"
    [inputMode]="inputMode"
    [maxlength]="maxCharacterLimit"
    [attr.aria-describedby]="
      hintText ? (characterCountEnabled ? inputId + '-hint ' + inputId + '-with-hint-info' : inputId + '-hint') : null
    "
  ></textarea>
  @if (characterCountEnabled) {
    <div [id]="inputId + '-with-hint-info'" class="govuk-hint govuk-character-count__message govuk-visually-hidden">
      You can enter up to {{ maxCharacterLimit }} characters
    </div>
    <div class="govuk-hint govuk-character-count__message govuk-character-count__status" aria-hidden="true">
      You have {{ remainingCharacterCount() }} character{{ remainingCharacterCount() === 1 ? '' : 's' }} remaining
    </div>
    <div class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">
      You have {{ remainingCharacterCount() }} character{{ remainingCharacterCount() === 1 ? '' : 's' }} remaining
    </div>
  }
</div>
