<div class="govuk-form-group govuk-character-count" [class.govuk-form-group--error]="!!errors">
  <label class="govuk-label {{ labelClasses }}" [for]="inputId">
    {{ labelText }}
  </label>
  @if (hintText) {
    <div id="{{ inputId }}-hint" class="govuk-hint">
      {{ hintText }}
    </div>
  }

  @if (errors) {
    <p id="{{ this.inputId }}-error-message" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error: </span> {{ errors }}
    </p>
  }

  <textarea
    class="govuk-textarea {{ inputClasses }}"
    [id]="inputId"
    [name]="inputName"
    type="text"
    [rows]="rows"
    [formControl]="getControl"
    [inputMode]="inputMode"
    [maxlength]="maxCharacterLimit"
    [attr.aria-describedby]="describedBy"
  ></textarea>
  @if (characterCountEnabled) {
    <div [id]="inputId + '-info'" class="govuk-hint govuk-character-count__message" aria-live="polite">
      You have {{ remainingCharacterCount() }} character{{ remainingCharacterCount() === 1 ? '' : 's' }} remaining
    </div>
  }
</div>
