<input
  class="govuk-radios__input {{ inputClasses }}"
  [id]="resolvedInputId"
  [name]="resolvedInputName"
  [attr.name]="resolvedInputName"
  [formControl]="getControl"
  type="radio"
  [value]="resolvedInputValue"
  [attr.value]="resolvedInputValueAttr"
  [attr.aria-controls]="dataAriaControls || null"
  [attr.aria-describedby]="inputValueHint ? resolvedInputId + '-item-hint' : null"
/>
<label class="govuk-label govuk-radios__label {{ labelClasses }}" [for]="resolvedInputId"> {{ labelText }} </label>
@if (inputValueHint) {
  <div id="{{ resolvedInputId }}-item-hint" class="govuk-hint govuk-radios__hint">
    {{ inputValueHint }}
  </div>
}
