<div class="moj-filter-layout">
  <div class="moj-filter-layout__filter" id="filter" [hidden]="!showFilter">
    <ng-content select="[mojFilterPanel]"></ng-content>
  </div>
  <div class="moj-filter-layout__content">
    <button
      type="button"
      class="govuk-button govuk-button--secondary moj-filter-layout__toggle-button"
      aria-controls="filter"
      aria-label="Toggle filter panel"
      [attr.aria-expanded]="showFilter"
      (click)="toggleFilter()"
    >
      {{ showFilter ? 'Hide filter' : 'Show filter' }}
    </button>

    <ng-content select="[mojFilterContent]"></ng-content>
  </div>
</div>
