@if (totalPages > 1) {
  <nav class="moj-pagination moj-pagination-alignment" aria-label="Pagination navigation" [id]="id">
    <ul class="moj-pagination__list">
      @if (currentPage > 1) {
        <li class="moj-pagination__item moj-pagination__item--prev">
          <a
            class="moj-pagination__link"
            (click)="onPageChanged($event, currentPage - 1)"
            (keydown.enter)="onPageChanged($event, currentPage - 1)"
            tabindex="0"
            >Previous<span class="govuk-visually-hidden"> page</span></a
          >
        </li>
      }

      @for (elipsedPage of elipsedPages(); track elipsedPage) {
        @switch (elipsedPage) {
          @case (currentPage) {
            <li
              class="moj-pagination__item moj-pagination__item--active"
              [attr.aria-label]="'Page ' + elipsedPage + ' of ' + totalPages"
              aria-current="page"
            >
              {{ elipsedPage }}
            </li>
          }
          @case (ELIPSIS) {
            <li class="moj-pagination__item moj-pagination__item--dots">{{ ELIPSIS }}</li>
          }
          @default {
            <li class="moj-pagination__item">
              <a
                class="moj-pagination__link"
                (click)="onPageChanged($event, +elipsedPage)"
                (keydown.enter)="onPageChanged($event, +elipsedPage)"
                tabindex="0"
                [attr.aria-label]="'Page ' + elipsedPage + ' of ' + totalPages"
              >
                {{ elipsedPage }}
              </a>
            </li>
          }
        }
      }

      @if (currentPage < totalPages) {
        <li class="moj-pagination__item moj-pagination__item--next">
          <a
            class="moj-pagination__link"
            (click)="onPageChanged($event, currentPage + 1)"
            (keydown.enter)="onPageChanged($event, currentPage + 1)"
            tabindex="0"
          >
            Next<span class="govuk-visually-hidden"> page</span></a
          >
        </li>
      }
    </ul>
    <p class="moj-pagination__results govuk-!-text-align-right">
      Showing <b>{{ pageStart }}</b> to <b>{{ pageEnd }}</b> of <b>{{ total }}</b> results
    </p>
  </nav>
}
