<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ options.categoryName }}</legend>
  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    @for (item of options.options; track item.value + '-' + options.categoryName) {
      <div class="govuk-checkboxes__item">
        <input
          class="govuk-checkboxes__input"
          id="{{ item.value }}"
          name="{{ item.value }}"
          type="checkbox"
          [value]="item.value"
          [checked]="item.selected"
          (change)="onCheckboxChange($event, item)"
        />
        <label class="govuk-label govuk-checkboxes__label" for="{{ item.value }}">
          {{ item.count !== null && item.count !== undefined ? item.label + ' (' + item.count + ')' : item.label }}
        </label>
      </div>
    }
  </div>
</fieldset>
