<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You do not have permission for this</h1>
    <p class="govuk-body">This may be because:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the account is outside your business unit and some features are restricted</li>
      <li>you are not permitted to use this feature</li>
    </ul>
    <p class="govuk-body">If you think this is incorrect, contact your line manager.</p>
    <p class="govuk-body">
      <a class="govuk-link" [href]="backLinkHref" data-testid="permission-denied-back-link">Go back</a>
    </p>
  </div>
</div>
