<table class="govuk-table {{ tableClasses }}" data-module="moj-sortable-table">
  <caption class="govuk-table__caption">
    <ng-content select="[caption]"></ng-content>
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <ng-content select="[head]"></ng-content>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <ng-content select="[row]"></ng-content>
    <ng-content select="[results]"></ng-content>
  </tbody>
</table>
<ng-content select="[status]"></ng-content>
